
div {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #282767;
  float: left;
  margin-top: 50px;
  margin-right: 70px;
  margin-left: 10px;
}
a:hover{
  cursor: pointer;
}
