<body>


<div>
  <form (ngSubmit)="onSubmit()" #textForm="ngForm">
    <h2>个人信息表</h2>
    <ul>
      <li>姓名: <input type="text" class="form-control" [(ngModel)]="data.oneChild" name="name" #name="ngModel"
                     class="input-text"
                     required="required" maxlength="5">
      <li [hidden]="name.valid || name.pristine"
          class="alert alert-danger">
        姓名不能为空
      </li>
      <li>性别: <input type="radio" class="form-control" [(ngModel)]="data.twoChild" name="sex" #sex="ngModel" value="男"
                     id="man">
        <label for="man">男</label>
        <input type="radio" class="form-control" [(ngModel)]="data.twoChild" name="sex" value="女" id="women">
        <label for="women">女</label>
      </li>
      <li>年龄: <input type="text" class="form-control" [(ngModel)]="data.threeChild" name="age" #age="ngModel" required
                     class="input-text"
                     pattern="^(?:[1-9][0-9]?|1[01][0-9]|120)$"></li>
      <li [hidden]="age.valid || age.pristine"
          class="alert alert-danger">
        年龄只能在1-120之间
      </li>
      <li>电话: <input type="text" class="form-control" [(ngModel)]="data.fiveChild" name="tel" #tel="ngModel" required
                     class="input-text"
                     pattern="^1[34578]\d{9}$"></li>
      <li [hidden]="tel.valid || tel.pristine"
          class="alert alert-danger">
        手机号格式不正确
      </li>
      <li>地址: <input type="text" class="form-control" [(ngModel)]="data.fourChild" name="add" #add="ngModel" required
                     class="input-text">
      </li>
      <li [hidden]="add.valid || add.pristine"
          class="alert alert-danger">
        地址不能为空
      </li>
      <li>
        <button type="submit" class="btn btn-success" [disabled]="!textForm.form.valid" (click)="saveDate()"
                routerLink="/personalInfoShow">提交数据
        </button>
        <button routerLink="/personalInfoShow">显示信息</button>
        <button routerLink="/personalInfoAlter">编辑信息</button>
      </li>
    </ul>
  </form>
</div>

</body>
